body {
  font-family: $font-family;
  color: $black-color;
  background: $white-color;
  width: 90%;
  padding: 10px;
  margin: auto;
}

input {
  font-family: $font-family;
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

a,
a:visited {
  color: $black-color;
  text-decoration: none;
}
