#explore {
  form {
    display: flex;
    border: none;
  }

  #search-bar {
    color: $black-color;
    background: $white-color;
    font-size: 1rem;
    width: 100%;
    border: 1px solid $silver-color;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
  }

  a {
    color: $primary-color;
    text-decoration: underline;
  }

  a:hover {
    color: $secondary-color;
  }
}
