#explore {
  form {
    display: flex;
    border: none;
  }

  #search-bar {
    color: $black-color;
    background: $white-color;
    width: 50%;
    font-size: 1rem;
    border: 1px solid $silver-color;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px 0 0;
  }

  a {
    color: $primary-color;
    text-decoration: underline;
  }

  a:hover {
    color: $secondary-color;
  }
}
