.button {
  &-primary {
    background: $primary-color;
    color: $white-color;
    width: 5rem;
    border-color: $primary-color;

    &:hover {
      cursor: pointer;
      border-color: $button-primary-hover;
      background: $button-primary-hover;
    }

    &-secondary {
      background: $secondary-color;
      color: $primary-color;
    }
  }
}
