$primary-color: #9f051f;
$secondary-color: #dba3a5;
$black-color: #232524;
$silver-color: #9da2a4;
$white-color: #f7f7f5;

$red-color: $primary-color;
$pink-color: $secondary-color;

$font-family: "Noto Sans JP", sans-serif;
